.jumbotron {
		height: 700px;
	  color: white;
	  margin-bottom: -15px;
}

.jumbo-top {
	  margin-top: -80px;
	  background: no-repeat center center;
		background-image: url(images/background.png); 
	  background-size: cover;

}

.jumbo-footer {
		height: 700px;
		background: no-repeat center center;
		background-image: url(images/footer.png); 
	  background-size: cover;
	  color: white;
}

.jumbo-platform {
		background-image: url(images/platform-header.png); 
}

.header-content {
	margin-top: 200px;
}

body h1 h2 h3 p {
	
}

.btn-primary {
	color: #000000;
	background-color: #50E3C2;
	border: none;
}

.content-block{
	height: 500px;
}

.nav-item {
	margin-left: 30px;
	margin-right: 30px;
}

.navbar {
	height: 80px;
}

$font-family-sans-serif: